# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Build
.next/
dist/
build/
out/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local

# Turbo
.turbo

# Editor
.vscode/*
!.vscode/extensions.json
.idea 